<div class="profile-page">
    <div class="banner">
        
        
    </div>

    <div class="first-section">

    </div>

    <div class="paralax">

    </div>

    <div class="second-section">

    </div>

    <div class="third-section">

    </div>


</div>
