// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//forge-hub template colors
$clr-primary: #ed6347;
$clr-gray-100: #f5f6f6;
$clr-gray-200: #f8f8f8;
$clr-gray-300: #c4c4c4;
$clr-gray-400: #979797;

//branding colors
$youtube: #ff0000;
$trello: #0079bf;
$github: #333;
$linkedin: #0077b5;

//alpha colors
$black-50: rgba(0,0,0,0.5);