@import "../config/mixins";

.master-container {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $clr-gray-400;
  }
}

.form {
  width: 30vw;
  margin: 55px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: $clr-gray-200;
  box-shadow: 0px 10px 11px -9px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  h2 {
    // margin: 10px 0px 25px 0px;
    padding: 25px 0;
    font-weight: 700;
    text-align: center;
  }

  div {
    width: 25vw;
  }

  .form-actions {
    input {
      background-color: $clr-primary;
      width: 100%;
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;

      &:hover {
        background-color: $clr-primary-darker;
      }
    }
  }

  .support-links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
      margin: 10px 5px;
    }
  }

  .flex-column {
    padding: 15px 0;
  }
}

.cancel-acc {
  margin: 20px 0px 0px 0px;
  font-size: 15px;
}

.linked-in {
  color: $linkedin !important;

  &:hover {
    text-decoration: underline;
  }
}

.form-check-label,
.form-control-file {
  cursor: pointer;
}

.other-links {
  padding: 30px 0;
  @include flex-display();
  & > * {
    padding: 5px 0;
  }
}
