.home-page div {
}

.home-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.home-page div {
  height: 100px;
  width: 100%;
}

.home-page .banner {
  height: 92vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.home-page .banner h1 {
  font-family: lobster, cursive;
  font-size: 79px;
  width: 48vw;
  margin-left: 45px;
  line-height: 82px;
  margin-top: 20px;
  margin-bottom: 50px;
}

$offset: 5px;

.home-page .banner .start-btn {
  color: rgb(27, 27, 27);
  position: absolute;
  bottom: 21vh;
  left: 3.8vw;

  button {
    width: 195px;
    height: 55px;
    font-weight: 700;
    font-size: 28px;
    background-color: $clr-primary;
    border: none;
    outline: 2px solid $clr-primary;
    outline-offset: $offset;
    transition: 0.5s;
    // border-radius: 5px;

    &:hover {
      // width: calc(195px + 2 * #{$offset});
      // height: calc(55px + 2 * #{$offset});
      transform: scale(1.05);
      outline: 2px solid transparent;
      // outline-offset: 0;
      transition: 0.5s;
    }
  }
}
