.participants-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.leave-project {
    position: absolute;
    top: 5px;
    left: 16px;
    color: rgb(207, 0, 0);
}

.index-participants-title {
    margin-top: 20px;

}
