.form-project-2 {
  padding-top: 50px;
  h1,
  h3 {
    font-family: inherit !important;
  }
  .no-message {
    padding: 10rem 0;
    h3 {
      color: $clr-gray-300;
      text-align: center;
    }
  }
  a {
    color: $clr-primary;
  }
}

.yes-icon {
  color: $yes;
  font-size: 25px;
}

.no-icon {
  color: $no;
  font-size: 25px;
  margin-left: 15px;
}

.table {
  width: 90%;
  margin: 0 auto;
}

.request {
  .container-new {
    @include flex-display(null, flex-start, row);
    width: 70%;
    padding: 2rem 0;
    border-top: 1px solid $clr-gray-200;
  }
}

.element {
  $join-padding: 10px;
  &:nth-child(1) {
    @include flex-display-self(center, center, column, center);
    padding: 10px 0;
    width: 10%;
  }
  &:nth-child(2) {
    width: 70%;
    border-left: 1px solid black;
  }
  &:nth-child(3) {
    @include flex-display-self(center, center, column, center);
    width: 20%;
    padding-top: 20px;
  }

  .message {
    padding: $join-padding;
  }

  .actions {
    padding: $join-padding;
    text-align: center;
  }
}
