.form-project-2 {
    margin: 25px auto;
    width: 46vw;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 8px 10px 11px -9px rgba(0, 0, 0, 0.25%);
}

.yes-icon {
    color: greenyellow;
    font-size: 25px;
}

.no-icon {
    color: red;
    font-size: 25px;
    margin-left: 15px;
}

.table {
    width: 500px;
    margin: 0 auto;
}