.sh-prj-pg {
  padding-top: 30px;
  img {
    max-width: 100%;
  }
  a,
  button {
    color: $clr-primary;
  }
}

main.sh-prj-pg {
  background-color: white;
  padding-top: $navbarheight;
  // margin-top: calc(-2.5 * #{$navbarheight});
}

#prj-photo-call-to-action img {
  display: block;
  margin: auto;
}

#prj-photo-call-to-action button {
  background-color: transparent;
  border: none;
}

.prj-story figure {
  margin: 1em 0;
}

.prj-story h1 {
  font-size: 2.5rem !important;
}

@media (min-width: 40em) {
  .prj-story figure {
    margin: 2em 0;
  }

  .prj-story h1 {
    font-size: 3rem !important;
  }
}

.container--narrow {
  max-width: 50rem;
}

#text-call-to-action {
  padding: 1em 0;
  width: 100%;
}

@media (min-width: 40em) {
  #text-call-to-action {
    width: 48%;
  }
}

#text-call-to-action li {
  list-style-type: none;
  margin-left: 0.5rem;
}

.image-container {
  width: 100%;
}

.image-wrapper {
  position: relative;
  // padding-bottom: 56.2%;

  img {
    // position: absolute;
    object-fit: cover;
    width: 100%;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }

  .btn-tab,
  .scroll-div {
    display: inline-block;
  }
}

#text-call-to-action i {
  color: black;
}

#text-call-to-action ul {
  justify-content: center;
  display: flex;
  padding: 0;
}

.center-text {
  text-align: center;
}

.split-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-flex-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 40em) {
  .split-flex {
    flex-direction: row;
  }

  .split-flex-row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .split-flex-normal {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  // Css selector to select the all the child elements after the first
  // it's a way of adding gaps between divs on a flex box

  .split-flex > * + * {
    margin-left: 2em;
  }

  .split-flex-normal > * + * {
    margin-left: 2em;
  }
}
#sh-prj-pg-header {
  position: sticky;
  width: 100%;
  top: $navbarheight;
  // z-index: -5;
  max-height: calc(100vh - calc(#{$navbarheight}+20px));
}
#sh-prj-pg-header,
.sh-prj-pg section {
  padding: 0.5rem 0;
}

#prj-photo-call-to-action img {
  padding: 1rem 0;
}

.prj-story:first-of-type h2 {
  margin-bottom: 3rem;
}

.prj-story ul {
  text-align: left;
}

#sh-prj-pg-header {
  padding-top: 1.5rem;
}

#sh-prj-pg-header h1 {
  font-weight: 800;
}

#sh-prj-pg-header h1,
#sh-prj-pg-header p {
  font-family: inherit !important;
  margin: 0;
}

.project-show-title {
  // @include flex-display(center, center, column);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    $black-25,
    $black-50,
    $black-60,
    $black-50,
    $black-25
  );
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px $black-50;
  // padding-top: 40vh;
  padding-top: 15%;

  h1 {
    font-size: 3.5rem;
  }
}

.rellax {
  & > .cta {
    // @include flex-display(space-between, center, row);
    padding-top: 30px;
    margin: 0 auto;
    width: 50%;

    button {
      border-radius: 30px;
      padding: 10px 20px;
      margin: 0 25px;
      background-color: $clr-primary;
      color: white;
      border: transparent 1px solid;
      min-width: 150px;
      transition: 0.5s;
      text-shadow: 1px 1px $black-50;

      &:disabled {
        background-color: $clr-primary-60;
      }

      &:hover {
        background-color: $clr-primary-darker;
      }

      &#read-more {
        border: 2px solid white;
        background-color: $black-25;

        &:hover {
          background-color: $clr-primary-80;
          border: 2px solid $clr-primary-80;
        }
      }
    }
  }
}

@media (min-width: 40em) {
  .sh-prj-pg section {
    padding: 0.5rem 0;
  }

  #sh-prj-pg-header {
    padding: 0;
  }
}

.project-info-nav {
  display: block;
  width: 100% !important;
  margin-bottom: 5px;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}

.btn-tab {
  height: 95%;
  margin-right: 36px;
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgb(22, 22, 22);
}

.btn-tab:hover {
  height: 95%;
  margin-right: 36px;
  border: none;
  background-color: transparent;
  color: $clr-primary;
}

.tab-content {
  display: none;
}

.project-info-nav navbar {
  height: 100%;
}

.project-info-nav {
  height: 4rem;
}

.btn-tab.active {
  color: $clr-primary;
}

.btn-tab.active div {
  bottom: 0;
  height: 5px;
  width: 100%;
  border-bottom: 3px black solid;
  position: absolute;
  animation-name: example;
  animation-duration: 0.1s;
}

/* The animation code */
@keyframes example {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
