$accent-color-orange: #ed6347;

.container-new {
  margin: 0 auto;
  padding: 0;
  clear: both;
  width: 90%;
}

.project-info-nav {
  display: block;
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}

.project-info-tabs {
  margin-top: 20px;
}

.btn-tab {
  height: 95%;
  margin-right: 36px;
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgb(22, 22, 22);
}

.btn-tab:hover {
  height: 95%;
  margin-right: 36px;
  border: none;
  background-color: transparent;
  color: $accent-color-orange;
}

.tab-content {
  display: none;
}

.project-info-nav navbar {
  height: 100%;
}

.project-info-nav {
  height: 62px;
}

.btn-tab.active {
  color: $accent-color-orange;
}

.btn-tab.active div {
  bottom: 0;
  height: 5px;
  width: 100%;
  border-bottom: 3px black solid;
  position: absolute;
  animation-name: example;
  animation-duration: 0.1s;
}

/* The animation code */
@keyframes example {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.card-project-profile {
  min-height: 41vh;
  padding: 15px 0;
  border-top: 1px grey solid;
  margin: 13px 0px 15px 0px;
  text-align: center;
}

.card-project-profile h2 {
  margin-top: 0px;
}

.project-title-desc {
  text-align: center;
  min-height: 16vh;
  overflow: hidden;
  margin: 20px;
}

.project-title-desc h1 {
  font-size: 67px;
  font-weight: 800;
}

.trix-content h1 {
  font-size: 40px !important;

  font-weight: 800;
}

.trix-content img {
  height: 25vh !important;
}

.project-title-desc p {
  font-size: 19px;
  font-weight: 600;
  color: #979797;
  padding: 0 130px;
}

.project-call-img {
  width: 100%;
  height: 426px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-img-container {
  height: 100%;
  width: 120%;
}

.project-apply {
  font-size: 18px;
  margin-top: 140px;
  text-align: center;
}

.project-img {
  height: 100%;
  width: 100%;
}

.ask-to-join-btn {
}

.social-links {
  text-align: center;
  margin-top: 5px;
  display: block;
}

.social-links i {
  color: rgb(27, 27, 27);
}

.project-apply button {
  border: none;
  background-color: transparent;
  color: $accent-color-orange;
}

.project-call-container {
  width: 94%;
  height: 100%;
}

.tab-contents {
  margin-top: 0px;
  padding: 10px 0px;
}

.tab-contents h2 {
  margin: 10px 0px;
  font-size: 30px;
  font-weight: 800;
}

.tab-contents h3 {
  margin: 10px 0px;
  font-size: 36px;
  text-align: center;
}

.tab-contents p {
  font-size: 17px;
}
