$std-padding: 15px 0;

.profile-page {
  @include flex-display(space-around, flex-start, row);
  .profile-section {
    .avatar-big {
      @include squarification(20.5rem);
    }
    // @include cards;
    background-color: $clr-gray-200;
    position: sticky;
    top: 0;
    min-height: 100vh;
    width: 30vw;
    // margin: 25px;

    & > .container-new {
      @include flex-display();
    }

    a {
      @include flex-display(center, center, row);
      color: $clr-gray-400;
      margin-top: 13px;

      i {
        display: block;
        margin-left: 5px;
      }
    }
  }
  .second-section {
    width: 100%;
  }

  .user-info {
    height: 150px;
    width: 100%;

    .form-actions {
      justify-content: flex-start;
      margin: 0;
      color: $clr-primary;
    }
  }

  .user-info-acc {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      padding-top: 15px;
      margin-bottom: 0;
    }
  }

  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 67vw;
    min-height: 80vh;
    margin: 25px;

    h2 {
      margin: 11px 0px 0px 19px;
      font-size: 34px;
      font-weight: 800;
    }

    .projects-section {
      .messages-section {
        width: 100%;
        min-height: 50vh;
        min-width: 35vw;
        background: $clr-gray-200;
        box-shadow: 11px 13px 20px -9px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }
      .card-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        min-height: 38vh;
        margin-top: 16px;
        padding: 15px;
      }
    }
    .messages-section {
      width: 100%;
      margin-top: 2vh;
      min-height: 28vh;

      .card-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 38vh;
        margin-top: 16px;
        padding: 15px;
      }
    }
  }
}

.new-message-icon {
  display: flex;
  align-items: baseline;
  justify-content: center;
  i,
  p {
    color: $clr-primary;
    font-size: 20px;
    margin-left: 8px;
  }
}
