<div id="chatroom-box">
  <div class="container-new" id="chatroom-box-container">
    <div class="chatroom-box-title-and-new-message">
      <h1>My chatrooms</h1>
      <i class="fas fa-edit"></i>
    </div>
    <div id="chatrooms">
    </div>
  </div>
</div>
