<footer>
  <section id="main-footer">
    <div class="container-new">
      <div class="left">
        <div id="contact-us">
          <h2>
            <p>Contact us</p>
            <div id="footer-logo-img">
              <img src="https://res.cloudinary.com/johngvc/image/upload/v1614637870/Forge_Hub_logo_n1tfqe.png" alt="ForgeHub logo">
            </div>
          </h2>
          <p>Rua Jericó, 193 - cj.72 - Vila Madalena, SP • SP, CEP 05435-040</p>
          <p>contact@forge-hub.com</p>
        </div>
        <div id="logo-social-links">
          <ul class="social-links">
            <li>
              <a href="https://www.linkedin.com/company/forge-hub/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/johngvc/forge_hub">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-trello"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
      </div>
    </div>
  </section>
  <section id="sub-footer">
    <div class="container-new">
      <p>2021 &copy; Forge Hub All Rights Reserved.</p>
    </div>
  </section>
</footer>
