<div class="reset-margin footer" >
  <div class="upper-section">
     <div class="logo footer-section" id="logo-social-links">
      <div class="social-links-sub-section">
        <div class="img-logo"></div>
        <p><strong>Connect to the forge hub community</strong></p>
        <div class="social-links">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-pinterest"></i>
        </div>
      </div>
    </div>
    <div class="reset-margin footer-section" id="about-us-section">
      <div class="title">
        <p>About us</p>
      </div>
      <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p>Rua: Lorem ipsum dolor sit amet 12345-123</p>
      </div>
      <div class="info">
        <i class="fas fa-envelope"></i>
        <p>Lorem@ipsum.com</p>
      </div>
      <div class="info">
        <i class="fas fa-mobile-alt"></i>
        <p>+(55) 19 1234-1535</p>
      </div>
    </div>

    <div class="reset-margin footer-section" id="work-with-us-section">
      <div class="title">
        <p>Work at Forge Hub</p>
      </div>
      <div class="info">
        <i class="fas fa-laptop"></i>
        <p>Open positions at:</p>
      </div>
      
      <div class="info">
        <ul>
          <li><p>Lorem</p></li>
          <li><p>Ipsum</p></li>
          <li><p>Dorem</p></li>
          <li><p>more</p></li>
        </ul>
      </div>
    </div>

    <div class="reset-margin footer-section" id="feature-request-section">
      <div class="title">
        <p>Got a feature request?</p>
      </div>
      <div class="info">
        <i class="fas fa-star"></i>
        <p>Check out our <a href="#">Trello</a>!</p>
      </div>
      <div class="info no-icon">
        <p>Send us a shout at: <a href="#">feature@forgehub.com</a></p>
      </div>
    </div>
  </div>
  
  <div class="lower-section">
    <p>C 2021 Forge Hub All Rights Reserved.</p>
  </div>
</div>