<footer>
  <div id="main-footer">
    <div class="container-new">
      <div rf id="logo-social-links">
        <div id="footer-logo-img">
          <img src="https://res.cloudinary.com/johngvc/image/upload/v1614637870/Forge_Hub_logo_n1tfqe.png" alt="ForgeHub logo">
        </div>
        <p><strong>Connect to the forge hub community</strong></p>
        <ul class="social-links">
          <li><i class="fa fa-linkedin"></i></li>
          <li><i class="fa fa-github"></i></li>
          <li><i class="fa fa-trello"></i></li>
          <li><i class="fa fa-youtube"></i></li>
        </ul>
      </div>
      <div id="contact-us">
        <p>Contact us</p>
        <p>Rua: R. Jericó,193 - cj.72 - Vila Madalena, SP/SP, 05435-040</p>
        <p>feature@forgehub.com</p>
        <p>+(55) 21 97961-7394</p>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <p>2021 &copy; Forge Hub All Rights Reserved.</p>
  </div>
</footer>
