<div class="reset-margin footer" >
  <div class="upper-section">
     <div class="logo footer-section" id="logo-social-links">
      <div class="social-links-sub-section">
        <div class="img-logo"></div>
        <p><strong>Stay tuned</strong></p>
        <div class="social-links">
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-trello"></i>
        </div>
      </div>
    </div>
    <div class="reset-margin footer-section" id="about-us-section">
      <div class="title">
        <p>Contact us</p>
      </div>
      <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p>Rua: R. Jericó,193 - cj.72 - Vila Madalena, SP/SP, 05435-040</p>
      </div>
      <div class="info">
        <i class="fas fa-envelope"></i>
        <p>feature@forgehub.com</p>
      </div>
      <div class="info">
        <i class="fas fa-mobile-alt"></i>
        <p>+(55) 21 97961-7394</p>
      </div>
    </div>

    <div class="reset-margin footer-section" id="work-with-us-section">
      <div class="title">
        <p>Find your CoFounder</p>
      </div>
      <div class="info">
        <i class="fas fa-user-friends"></i>
        <p>Select your partner</p>
      </div>
    </div>

    <div class="reset-margin footer-section" id="feature-request-section">
      <div class="title">
        <p>Find your Project</p>
      </div>
      <div class="info">
        <i class="fas fa-thumbs-up"></i>
        <p>Check out some options</p>
      </div>
    </div>
  </div>
  
  <div class="lower-section">
    <p>2021 Forge Hub All Rights Reserved.</p>
  </div>
</div>