  <div class="acontainer auser-card" >
    <div class="acard-element aavatar-and-description">
      <div class="aavatar-container">
        <div class="aavatar"></div>
      </div>

      <div class="adescription-container">
        <p class="adesc-title">Doggy dog</p>
        <p class="adesc-subtitle">Web entrepreneur | São Paulo, BR</p>
        <p class="adesc-open-projects">4 projects with open positions</p>
        <div class="adesc-user-status">
          
        </div>
      </div>
      
    </div>
    <div class="message-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi aliquam sequi corrupti, amet consequuntur illo itaque aliquid obcaecati. Est facilis expedita nesciunt quod hic, impedit similique voluptas maxime. Qui?</p>
    </div>

    <div class="acard-element acard-btn">
      <div class="abutton1">
        <a href="#">Send a message</a>
      </div>
      
      <div class="abutton2">
        <a href="#">View profile</a>
      </div>
    </div>
  </div>