<div class="container-new">
  <div style="position: absolute; overflow: scroll; bottom: 0px; right: 15px; height: 500px; width: 300px; background-color: white;">
    <select id="rooms" name="rooms">
    </select>
    <h1 id="chatroom-title"></h1>
    <div id="messages" data-chatroom-id="">
    </div>
    <input type="text" id="new-message-input">
    <button id="new-message-btn">
      <p>New message</p>
    </button>
  </div>
</div>
