<div id="chat-box">
  <div class="container-new" id="chat-box-container">
    <h1 id="chatroom-title"></h1>
    <div id="messages" data-chatroom-id="">
    </div>
    <div id="send-message">
      <input type="text" id="new-message-input">
      <a id="new-message-btn">
        <i class="fas fa-play"></i>
      </a>
    </div>
  </div>
</div>
