  <div class="acontainer auser-card" >
    <div class="acard-element aavatar-and-description">
      <div class="aavatar-container">
        <div class="aavatar"></div>
      </div>

      <div class="adescription-container">
        <p class="adesc-title"><%= User.find_by(id: message.user_sender_id).name %></p>
        <p class="adesc-subtitle">Todo: cargo do usuário</p>
        <p class="adesc-open-projects">TODO:4 projects with open positions</p>
        <div class="adesc-user-status">

        </div>
      </div>

    </div>
    <div class="message-content">
        <p><%= message.content %></p>
    </div>

    <div class="acard-element acard-btn">
      <div class="abutton1">
        <a href="#">Send a message</a>
      </div>

      <div class="abutton2">
        <% if message.user_sender_id != current_user.id %>
          <% link_to "View profile", profile_path(id: message.user_sender_id)%>
        <% else %>
          <% link_to "View profile", profile_path(id: message.user_receiver_id)%>
        <% end %>
      </div>
    </div>
  </div>
