<script src="https://kit.fontawesome.com/430bc19f24.js" crossorigin="anonymous"></script>
<div class="container nav-bar">
  <div class="logo">
    <div class="img"></div>
    <div class="nav-bar-search-input">
      <i class="fas fa-search"></i>
      <form action="">
        <input type="text" placeholder="Find on Forgehub">
      </form>
    </div>
  </div>
  <div class="sign-in-section">
      <div class="sign-in-btn"><a href="#"></a></div>
        <div class="nav-bar-sign-in-form">
          <form class="sign-in-form" action="#">
            <input class="form-submit-btn" type="submit" value="SIGN IN">
            <input class="form-text-input" type="text" placeholder="USERNAME">
            <input class="form-text-input" type="text" placeholder="PASSWORD">
          </form>
        </div>
  </div>
</div>