

<div class="home-page">
    <div class="banner" style="background-image: url('https://res.cloudinary.com/johngvc/image/upload/v1614795809/Mesa_flipped_hfcknm.jpg') ;">
        <h1>Make your startup a reality today.</h1>
        <a href="#">
            <button>
                Start it now!
            </button>
        </a>
    </div>

    <div class="first-section">

    </div>

    <div class="paralax">

    </div>

    <div class="second-section">

    </div>

    <div class="third-section">

    </div>


</div>
