

<div class="home-page">
    <div class="banner" style="background-image: url('https://res.cloudinary.com/johngvc/image/upload/v1614795809/Mesa_flipped_hfcknm.jpg') ;">
        <h1>Make your startup a reality today.</h1>
        <% if current_user.nil? %>
          <a class="start-btn" href="/users/sign_up">
            <button>
                Start it now!
            </button>
          </a>
        <% end %>
    </div>

    <div class="first-section">

    </div>

</div>
