
<div class="projects-section-search">
  <h1>Available projects</h1>

  <% @projects.each do |project| %>

    <% if !project.is_suspended? %>
      <%= render 'shared/projectBigCard', project: project %>
    <% end %>
  <% end %>
</div>
