<h1><%= @project.name %> </h1>

<h2><% @participants.each do |participant| %></h2>
  <ul>
    <li><%= "#{participant.user.name}" %></li>
    <% if participant.is_founder? %>
      <li><%= "Status: Founder"%></li>
    <% else %>
      <li><%= "Status: Participant" %></li>
    <% end %>
  </ul>
<% end %>
