<%= simple_form_for @message, url: send_reply_from_user_card_index_path(user: user, message: message), remote: true, method: :post do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">send </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

           <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= f.input :content, as: :text, label: false %>
        </div>
        <div class="modal-footer">
          <%= f.submit "send message" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
