.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  @include avatar;
  width: 40px;
}
.avatar-big {
  @include avatar;
  margin-top: 30px;
}

.baavatar {
  @include squarification(100px);
  @include avatar;
  background-size: cover;
}
.avatar-and-name {
  @include squarification(30px);
  @include avatar;
  background-size: cover;
  position: absolute;
  bottom: 0.3em;
  left: 0.4em;
}
