footer ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    &:hover i {
      border-bottom: 1px solid $black-50;
    }
    i {
      @include transition-5s;
      border-bottom: 1px solid transparent;
    }
  }
}

#sub-footer {
  @include padding-std;
  background-color: $clr-gray-300;
  text-align: center;
  p {
    margin: 0;
  }
}

#footer-logo-img img {
  width: 5rem;
}

#main-footer {
  @include padding-std;
  background-color: $clr-gray-100;
  display: flex;
  justify-content: space-between;
}

//social links

.fa-linkedin {
  color: $linkedin;
}

.fa-github {
  color: $github;
}

.fa-trello {
  color: $trello;
}

.fa-youtube {
  color: $youtube;
}

.social-links {
  font-size: 2rem;
}
