$accent-color-orange: #ed6347;
$thirty-grey-color: #f5f6f6;
$card-grey-color: #f8f8f8;
$thirty-other-grey-color: #c4c4c4;
$subtitle-grey-color: #979797;

.macontainer div {
}

.macontainer {
  margin: 0 auto;
  width: 100%;
}

.mauser-card {
  height: 154px;
  position: relative;
  width: 91%;
  margin: 11px 0;
  display: flex;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 8px 10px 30px -9px rgba(0, 0, 0, 0.25);
  background-color: $card-grey-color;
}

.macard-element {
  height: 100%;
}

.mauser-card .maavatar-and-description {
  display: flex;
  overflow: hidden;
  width: 26%;
  padding-right: 22px;
  margin-right: 22px;
  border-right: 1px grey solid;
}

.maavatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg);
  background-size: cover;
  margin: 10px 0px 0px 15px;
}

.maavatar-and-name p {
  width: 250px;
  margin-left: 40px;
  font-weight: 700;
  text-decoration: underline;
  font-size: 10px;
  color: #979797;
}

.mauser-card .maavatar-and-description .madescription-container {
  width: 100%;
  text-align: center;
  margin-left: 6px;
  margin-top: 34px;
}

.new-message {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: red;
}

.mauser-card .maavatar-and-description .madescription-container p {
  margin: 0px;
}

.mauser-card .maavatar-and-description .madescription-container .madesc-title {
  font-size: 10px;
  font-weight: 500;
}

.mauser-card .maavatar-and-description .madescription-container .madesc-subtitle {
  color: $subtitle-grey-color;
  font-size: 10px;
  bottom: 2px;
}

.mauser-card
  .aavatar-and-description
  .adescription-container
  .adesc-open-projects {
  color: $accent-color-orange;
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.mauser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status {
  margin-top: 15px;
}

.mauser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status
  .aadesc-user-status-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
}

.mauser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status
  .adesc-user-status-element
  pa {
  color: $subtitle-grey-color;
  font-size: 10px;
  font-weight: 700;
}

.mauser-card
  .maavatar-and-description
  .mdescription-container
  .mdesc-user-status
  .mdesc-user-status-element
  ia {
  margin-right: 5px;
}



.mauser-card .macard-btn .mabutton1 {
  width: 122px;
  position: absolute;
  bottom: 10px;
  right: -56px;
}

.mmessage-content {
  width: 64%;
  overflow: auto;
}

.mmessage-content p {
  overflow: hidden;
  font-size: 14px;
}

.mmessages-section {
  max-height: 500px;
  overflow: auto;
}
