$accent-color-orange: #ed6347;
$thirty-grey-color: #f5f6f6;
$card-grey-color: #f8f8f8;
$thirty-other-grey-color: #c4c4c4;
$subtitle-grey-color: #979797;

.acontainer {
  margin: 0 auto;
  width: 100%;
}

.auser-card {
  height: 154px;
  position: relative;
  width: 91%;
  margin: 11px 0;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 8px 10px 30px -9px rgba(0, 0, 0, 0.25);
  background-color: $card-grey-color;
}

.acard-element {
  height: 100%;
}

.auser-card .aavatar-and-description {
  display: flex;
  overflow: hidden;
}

.aavatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg);
  background-size: cover;
  margin: 10px 0px 0px 15px;
}

.aavatar-and-name p {
  width: 250px;
  margin-left: 40px;
  font-weight: 700;
  text-decoration: underline;
  font-size: 10px;
  color: #979797;
}

.auser-card .aavatar-and-description .adescription-container {
  width: 300px;
  margin-left: 15px;
}

.auser-card .aavatar-and-description .adescription-container p {
  margin: 0px;
}

.auser-card .aavatar-and-description .adescription-container .adesc-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}

.auser-card .aavatar-and-description .adescription-container .adesc-subtitle {
  color: $subtitle-grey-color;
  font-size: 10px;
  bottom: 2px;
}

.auser-card
  .aavatar-and-description
  .adescription-container
  .adesc-open-projects {
  color: $accent-color-orange;
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.auser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status {
  margin-top: 15px;
}

.auser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status
  .aadesc-user-status-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
}

.auser-card
  .aavatar-and-description
  .adescription-container
  .adesc-user-status
  .adesc-user-status-element
  pa {
  color: $subtitle-grey-color;
  font-size: 10px;
  font-weight: 700;
}

.auser-card
  .aavatar-and-description
  .description-container
  .desc-user-status
  .desc-user-status-element
  ia {
  margin-right: 5px;
}

.auser-card .acard-btn {
  position: relative;
}

.auser-card .acard-btn .abutton1 {
  width: 122px;
  position: absolute;
  top: 10px;
  right: 154px;
}

.auser-card .acard-btn .abutton2 {
  top: 10px;
  width: 85px;
  position: absolute;
  right: 37px;
}

.message-content {
  position: absolute;
  width: 813px;
  bottom: 7px;
  right: 11px;
}

.message-content p {
  overflow: hidden;
  font-size: 14px;
}
