$accent-color-orange: #ED6347;
$thirty-grey-color: #F5F6F6;
$thirty-other-grey-color: #C4C4C4;
$accent-color-orange: #ED6347;


.logo a {
    margin: 0;
    padding: 0;
    height: 80%;
    width: 15%;
}

.reset-margin {
  margin: 0px;
}

.nav-bar {
  height: 60px;
  background-color: $thirty-grey-color;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sign-in-section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar-section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Log-in-btn {
  background-color: $accent-color-orange;
  width: 100px;
  margin-right: 20px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  border: none;
}

.controls {
  width: 280px;
  margin: 15px;
  text-align: center;
  vertical-align: middle;
}

.controls p {
  display: inline;
  margin: 10px;
  
}

.logo .img {
  height: 100%;
  width: 100%;
  margin-left: 6px;
  margin-top: 8px;
  background-image: url("https://res.cloudinary.com/johngvc/image/upload/v1614637870/Forge_Hub_logo_n1tfqe.png");
  background-size: contain;
  background-repeat: no-repeat;
}


.nav-bar-search-input {
  position: relative;
  margin-left: 20px;
}

.nav-bar-search-input input {
  width: 380px;
  height: 30px;
  border-radius: 8px;
  padding-left: 35px;
  border: none;
}

.nav-bar-search-input input:focus {
  border: $accent-color-orange 1px solid;
}

.nav-bar-search-input i {
  color: black;
  margin: 4px 6px;
  font-size: 20px;
  position: absolute;
}

.dropdown {
  margin-right: 15px;
  cursor: pointer;
}

.avatar-forgehub {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
