// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/mixins";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//external fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

// Your CSS partials
@import "components/index";
@import "pages/index";

// Trix Action text (for rich text)
@import "./actiontext.scss";

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  // background-color: #e7e7e7;
  background-color: white;
  div {
    margin: 0px;
    font-family: inherit;
  }
  h2 {
    font-family: inherit !important;
  }
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.content {
  flex: 1 0 auto;
  // min-height: 50vh;
  padding-top: $navbarheight;
}

.container-new {
  margin: 0 auto;
  padding: 0;
  clear: both;
  width: 90%;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

.flex-column {
  @include flex-display("center");
}

.btn-generic {
  color: $clr-primary !important;
  background-color: transparent !important;
  border: none !important;
}

//scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

//selection
::-moz-selection {
  color: white;
  background: $clr-blue;
}
::selection {
  color: white;
  background: $clr-blue;
}

//não usar
.hidden {
  display: none !important;
}
