// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Trix Action text (for rich text)
@import "./actiontext.scss";

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
}

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

// linkedin button css
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

.support-links {
  position: relative;
  box-sizing: padding-box;
  height: 40px;
  width: 200px;
  background-color:whitesmoke;
  vertical-align: center;
  font: 500 14px/40px Roboto;
  letter-spacing: 0.65px;
  color: white;
  padding-left: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.support-links:hover {
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.support-links:active {
  background-color: #066093;
}
